@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: #f1f3f4c6;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(178, 134, 219);
}
header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background: #f1f3f4c6 url(imagens/pexels-nothing-ahead-9494920.jpg) no-repeat fixed center bottom;
    background-size: cover;
    height: 20vh;
    box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.331) ;
    color: white;
    padding: 3px;
}
header > h1{
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 1px 1px 1px black;
    margin-left: 28px;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4vw;
    color: white;
}
nav{
    margin-right: 28px;
    
}
nav>a{
    padding: 10px 30px;
    border-radius: 4px;
    color:white;
    background-color: #f3b60d;
    
}

main{

    display: flex;
    justify-content: center;
}
article{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin: auto;
    
}
section{
    background-color: #E6E7EA;
    margin-top: 30px;
    box-shadow: 0px 14px 16px rgba(255, 255, 255, 0.075);
    border-radius: 5px;
}
section#mapa{
    text-align: center;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.244) ;
    padding: 40px;
    width: 744px;
    height: 450px;
   
}
section#descricao{
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.244) ;
    padding: 40px;
    height: 450px;

}
img{
    background-color: black;
}
footer{
    display: none;
    background-image: linear-gradient(to right,#f3b60d,#edc350);
    color: white;
    border: rgba(0, 0, 0, 0.568);
    font-size: 18px;
    padding: 19px;
    text-align: left;
}