@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body,html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: #f1f3f4;
}
body{
    background-image: url(imagens/pexels-nothing-ahead-9494920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(178, 134, 219);
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 3px;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4vw;
}
main{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: row;
    margin: auto;
    
}
section{
    background-color: white;
    margin: 16px;
    box-shadow: 0px 14px 16px rgba(255, 255, 255, 0.075);
    border-radius: 5px;
}
section#descricao{
    border: 2px solid #797D80;
    padding: 40px;
    width: 744px;
    height: 450px;
    min-width: 300px;
}
img{
    background-color: black;
}
footer{
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
}